h4.quote
	span &ldquo; 
	| #{profile.status.text}
	span &rdquo;
-if(profile.twitter != undefined && profile.twitter != undefined)
	section.profile-bar
		-if(profile.twitter && profile.twitter != "")
			a(href='http://twitter.com/' + profile.twitter, target='_blank').genericon.genericon-twitter
		-if(profile.facebook && profile.facebook != "")
			a(href='https://www.facebook.com/' + profile.facebook, target='_blank').genericon.genericon-facebook
