extends layout

block content
	section(style='background:black;')
		section.container
			section.row
				section.col-md-12
					div#carousel.carousel.slide(data-ride="carousel")
						div.carousel-inner#content
							-each pic, k in pics
								div.item(class=(k==0 ? "active" : ""))
									div.row
										div.col-md-12(style='height:584px;padding-left:0;background:url('+pic.source+') no-repeat;background-size: cover;')
						a.left.carousel-control(href="#carousel", data-slide="prev").hide
							span.glyphicon.glyphicon-chevron-left
						a.right.carousel-control(href="#carousel", data-slide="next").hide
							span.glyphicon.glyphicon-chevron-right
						section#social
							a(href='http://twitter.com/asurumaaa', target='_blank').genericon.genericon-twitter
							a(href='https://www.facebook.com/asurumaa', target='_blank').genericon.genericon-facebook
							a(href='http://instagram.com/asurumaaa', target='_blank').genericon.genericon-instagram
	hr